

<div *ngIf="updatePlan !== undefined">
	<div style="margin-top: .5rem; background-color: gainsboro; display: flex; justify-content: space-between; align-items: center">
		<h2 style="margin-left: 1rem"> ID:<strong>{{updatePlan.id}} </strong> Plan: <strong>{{updatePlan.name}}</strong> </h2>
		<button id="alt-button" style="margin: .5rem " (click)="addEvent()" class="fab">
			<mat-icon aria-hidden="false" aria-label="Example home icon"> add </mat-icon>
		</button>
	</div>
	<nav style="display: flex; justify-content: space-between; ">
		<div><h3 style="margin: .5rem; "> Events </h3></div>
		<div *ngIf="JSON.stringify( this.plan ) === JSON.stringify( this.updatePlan );else changes_made">
			<a style="background-color: floralwhite; color: gainsboro ">
				Save
			</a>
			<a (click)="toPlans()">
				Back
			</a>
		</div>
		<ng-template #changes_made>
			<div><a style="background-color: blue; color: white; " (click)="save()"> Save </a><a (click)="cancel()"> Cancel </a></div>
		</ng-template>
	</nav>
	
	<ul style="margin: .5rem; " >
		<li *ngFor="let event of updatePlan.events" [class.selected]="event.id === eventId">
			<div style="display: flex; ">
				<div style="display: flex; width: 100%; ">
					<a routerLinkActive="active" routerLink="/plan/{{planId}}/update/event/{{event.id}}">
						<div style="padding: 0 .5rem; height: 100%; "> {{event.id}} </div>
						<div style="height: 100%; ">-</div>
						<div style="padding: 0 .5rem; width: 100%; "> {{event.name}} </div>
					</a>
				</div>
				<div style="display: flex; ">
					<button style="margin-left: .5rem; " (click)="updateEvent( event.id )" class="fab">
						<mat-icon aria-hidden="false" aria-label="Example home icon"> schedule </mat-icon>
					</button>
				</div>
				<div style="display: flex; ">
					<button style="margin-left: .5rem; " (click)="updateEvent( event.id )" class="fab">
						<mat-icon aria-hidden="false" aria-label="Example home icon"> edit </mat-icon>
					</button>
				</div>
				<div style="display: flex; ">
					<button style="margin-left: .5rem; " (click)="removeEvent( event.id )" class="fab">
						<mat-icon aria-hidden="false" aria-label="Example home icon"> delete </mat-icon>
					</button>
				</div>
			</div>
		</li>
	</ul>
	<div style="margin: .5rem; ">
		<h3><label for="editPlan-name"> Plan name: </label><input type="text" id="editPlan-name" [(ngModel)]="updatePlan.name" placeholder="name"/></h3>
	</div>
</div>
<hr/>
<div>
	<app-event-detail [updatePlan]="updatePlan" [planId]="planId" [eventId]="eventId"></app-event-detail>
</div>
