

<div id="wj-t" class="bg-d">
	<h2>
		Hosts
	</h2>
	<a>
		<mat-icon>add</mat-icon>
	</a>
</div>
<div class="wj-b">
	<div id="wj-t2">
		<h3>
			Active Host List
		</h3>
		<div>
			<a (click)="toGuests()">
				Back
			</a>
		</div>
	</div>
	<ul class="hosts wj">
		<li *ngFor="let host of hosts">
			<a [routerLink]="['/host/list', host['id']]">
				<div class="f c" style="justify-content: space-between;">
					<div class="badge bg-m f c">
						{{host["id"]}}
					</div>
					<div *ngIf="host['isActive']; else inactive">
						&#9989;
					</div>
					<ng-template #inactive>
						<div>
							&#9940;
						</div>
					</ng-template>
					<div style="margin-left: 1em; text-align: left; width: 40%;">
						{{host["last"] + '-' + host['id']}}
					</div>
					<div style="text-align: right; width: 70%;">
						<div *ngFor="let hosting of host['hostings']">
							<div style="width: 5em; max-height: 2em; font-size: 9px;">
								{{hosting["event"]}}
								<strong>
									{{hosting["seats"]}}
								</strong>
							</div>
						</div>
					</div>
				</div>
				<!--qr-code  style="display: none" value="(816) 522-7678" size="50" errorCorrectionLevel="H"></qr-code-->
			</a>
		</li>
	</ul>
</div>
