

<div id="wj-title" class="bg-d">
	<h2>
	 	Plan ID:
		<strong>
			{{planId}}
		</strong>
		Name:
		<strong>
			{{plan.name}}
		</strong>
	</h2>
	<a (click)="loadVersion(loadedVer['id'])">
		<mat-icon>add</mat-icon>
	</a>
</div>
<div class="wj-body">
	<div id="wj-title-2">
		<div>
			<h3>
				Schedules
				<span style="color: red; font-size: x-small;">(read-only)</span>
			</h3>
		</div>
		<div>
			<a class="wj-disabled">
				Save
			</a>
			<a (click)="backToPlanList(planId)">
				Back
			</a>
		</div>
	</div>
	<ul class="wj">
		<li style="width: 100%;" *ngFor="let version of versions"
			[class.selected]="version.id === versionId"
		>
			<div style="width: 100%; ">
				<div class="wj" style="width: 100%; ">
					<a [routerLink]="['./', version.id]" routerLinkActive="active">
						<div class="badge bg-m f c">
							{{version.id}}
						</div>
						<div>
							Label(s):
							<strong>
								{{version.labels}}
							</strong>
						</div>
					</a>
				</div>
				<div>
					<button (click)="loadVersion(version.id)">
						<mat-icon>schedule</mat-icon>
					</button>
				</div>
				<div>
					<button (click)="rmVer(version.id )">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
				<div>
					<button>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</li>
	</ul>
	<hr>
	<div>
	
		<router-outlet></router-outlet>
	
	</div>
</div>
