

<div id="page-title">
	<h2> {{updatePlan.name}} </h2>
	<button (click)="addEvent()"><mat-icon> add </mat-icon></button>
</div>
<div id="page-body">
	<div id="page-title-2">
		<h3> Events </h3>
	</div>
	<ul class="plans">
		<li *ngFor="let event of updatePlan.events" [class.selected]="event.id === eventId">
			<div>
				<div>
					<a routerLinkActive="active" routerLink="/plan/{{event.id}}">
						<div class="badge"	> {{event.id}}		</div>
						<div				> {{event.name}}	</div>
					</a>
				</div>
				<div><button (click)="editEvent( event.id 	)"><mat-icon> edit		</mat-icon></button></div>
				<div><button (click)="removeEvent( event.id	)"><mat-icon> delete	</mat-icon></button></div>
			</div>
		</li>
	</ul>
	<hr/>
	
	<hr/>
	<div>
		<p>		Id: {{updatePlan.id}}
		<p>		<label for="editPlan-name"> Plan name: </label><input type="text" id="editPlan-name" [(ngModel)]="updatePlan.name" placeholder="name"/>
		<div>
			<button (click)="save()"	> Save		</button>
			<button (click)="cancel()"	> Cancel 	</button>
		</div>
	</div>
</div>
