

<div id="page-title" class="bg-d">
	<h2>
		Plan Hub Scrub
	</h2>
	<button id="alt-button" class="fab" (click)="addEvent()">
		<mat-icon>add</mat-icon>
	</button>
</div>
<div id="page-body">
	<div id="page-title-2">
		<h3 style="margin: .5rem">
			Plans
		</h3>
	</div>
	<ul class="pgc">
		<li *ngFor="let event of events"
				[class.selected]="event.id === selectedEventId"
		>
			<div>
				<div>
					<a [routerLink]="['/plan', event.id]" routerLinkActive="active">
						<div>
							{{event.id}}
						</div>
						<div>
							{{event.name}}
						</div>
					</a>
				</div>
				<div>
					<button (click)="updateEvent()">
						<mat-icon>edit</mat-icon>
					</button>
				</div>
				<div>
					<button (click)="rmEvent(event.id)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</li>
	</ul>
	<hr>
	<div>
		
		<router-outlet></router-outlet>
	
	</div>
</div>
