

<div *ngIf="presby$ | async as presby">
	<div style="margin-top: .5rem; background-color: lightgray; display: flex; justify-content: space-between; align-items: center">
		<h2 style="margin-left: 1rem"> Guest Detail </h2>
		<div style="text-align: center">
			<!--button (click)="gotoPresbies(presby)"> Back </button-->
			<button (click)="gotoPresbies()"> Back </button>
		</div>
	</div>
	<table>
		<tr>
			<td style="width: 50%">
				<h2> Guest: <br/>	<strong> {{presby.name}}	</strong></h2>
				<p>	ROSTER ROW:		<strong> {{presby.id}}		</strong>
				<p> ACTIVE:			<strong> {{presby.ACTIVE}}	</strong>
			</td>
			<td style="width: 50%; text-align: right">
				<qr-code value="tel:1-785-{{presby.HOME}}" size="150" errorCorrectionLevel="H"></qr-code>
			</td>
		</tr>
	</table>
	
	<label for="presby-GJAN"	><strong> January	</strong> RSVPs:	</label>
	<input type="text" id="presby-GJAN"		[(ngModel)]="presby.GJAN"	placeholder="GJAN"	/>
	
	<label for="presby-GFEB"	><strong> February </strong> RSVPs:		</label>
	<input type="text" id="presby-GFEB"		[(ngModel)]="presby.GFEB"	placeholder="GFEB"	/>
	
	<label for="presby-GMAR"	><strong> March		</strong> RSVPs:	</label>
	<input type="text" id="presby-GMAR"		[(ngModel)]="presby.GMAR"	placeholder="GMAR"	/>
	
	<label for="presby-LAST"	> Last Name: 		</label>
	<input type="text" id="presby-LAST"		[(ngModel)]="presby.LAST"	placeholder="LAST"	/>
	
	<label for="presby-NAME1"	> First Name 1: 	</label>
	<input type="text" id="presby-NAME1"	[(ngModel)]="presby.NAME1"	placeholder="NAME1"	/>
	
	<label for="presby-NAME2"	> First Name 2: 	</label>
	<input type="text" id="presby-NAME2"	[(ngModel)]="presby.NAME2"	placeholder="NAME2"	/>
	
	<label for="presby-NAME3"	> First Name 3: 	</label>
	<input type="text" id="presby-NAME3"	[(ngModel)]="presby.NAME3"	placeholder="NAME3"	/>
	
	<label for="presby-U"		> U???				</label>
	<input type="text" id="presby-U"		[(ngModel)]="presby.U"		placeholder="U"		/>
	
	<label for="presby-S"		> S???				</label>
	<input type="text" id="presby-S"		[(ngModel)]="presby.S"		placeholder="S"		/>
	
	<label for="presby-EMAIL"	> Email:			</label>
	<input type="text" id="presby-EMAIL"	[(ngModel)]="presby.EMAIL"	placeholder="EMAIL"	/>
	
	<label for="presby-HOME"	> Home Phone:		</label>
	<input type="text" id="presby-HOME"		[(ngModel)]="presby.HOME"	placeholder="HOME"	/>
	
	<label for="presby-CELL"	> Mobile Phone:		</label>
	<input type="text" id="presby-CELL"		[(ngModel)]="presby.CELL"	placeholder="CELL"	/>
	
	<label for="presby-SMAIL"	> Home Address:		</label>
	<input type="text" id="presby-SMAIL"	[(ngModel)]="presby.SMAIL"	placeholder="SMAIL"	/>
	
	<label for="presby-CITY"	> Home City:		</label>
	<input type="text" id="presby-CITY"		[(ngModel)]="presby.CITY"	placeholder="CITY"	/>
	
	<label for="presby-ST"		> Home State:		</label>
	<input type="text" id="presby-ST"		[(ngModel)]="presby.ST"		placeholder="ST"	/>
	
	<label for="presby-ZIP"		> Home Zip Code:	</label>
	<input type="text" id="presby-ZIP"		[(ngModel)]="presby.ZIP"	placeholder="ZIP"	/>
	
	<label for="presby-MMAIL"	> MMail???			</label>
	<input type="text" id="presby-MMAIL"	[(ngModel)]="presby.MMAIL"	placeholder="MMAIL"	/>
</div>
