

<div style="background-color: gainsboro; display: flex; justify-content: space-between; align-items: center">
	<h2> Admin </h2>
	<a><mat-icon aria-hidden="false"> add </mat-icon></a>
</div>

<nav>
	<a routerLink="./"			routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"	> Dashboard			</a>
	<a routerLink="./plans"		routerLinkActive="active"												> Manage Plans		</a>
	<a routerLink="./presbies"	routerLinkActive="active"												> Manage Presbies	</a>
</nav>

<router-outlet></router-outlet>
