

<div *ngFor="let host of hosts">
	<div *ngIf="host['id'] === '2'">
		<div id="wj-t" class="bg-d">
			<h2>
				Host:
				<strong>
					{{host["last"] + '-' + host["id"]}}
				</strong>
			</h2>
			<a class="wj-d">
				<mat-icon>add</mat-icon>
			</a>
		</div>
		<div class="wj-b">
			<div id="wj-t2">
				<h3>
					Host Update
				</h3>
				<div class="c">
					<a (click)="toHost(host)">
						Back
					</a>
				</div>
			</div>
			<table>
				<tr>
					<td style="width: 50%">
						<p>
						Roster row:
						<strong>
							{{host['id']}}
							</strong>
						<p>
						Active?
						<strong>
							{{host['isActive']}}
						</strong>
					</td>
				</tr>
			</table>
			<strong>
				January
			</strong>
			<label for="presby-HJAN">
				Seats:
			</label>
			<input type="text" id="presby-HJAN"
						 [(ngModel)]="host['hostings']"
						 placeholder="HJAN"
			>
			<label for="presby-SUBS">
				Subs:
			</label>
			<input type="text" id="presby-SUBS"
						 [(ngModel)]="host['subs']"
						 placeholder="SUBS"
			>
			<label for="presby-EMAIL">
				Email:
			</label>
			<input type="text" id="presby-EMAIL"
						 [(ngModel)]="host['email']"
						 placeholder="EMAIL"
			>
			<label for="presby-HOME">
				Home Phone:
			</label>
			<input type="text" id="presby-HOME"
						 [(ngModel)]="host['home']"
						 placeholder="HOME"
			>
			<label for="presby-CELL">
				Mobile Phone:
			</label>
			<input type="text" id="presby-CELL"
						 [(ngModel)]="host['cell']"
						 placeholder="CELL"
			>
			<label for="presby-SMAIL">
				Home Address:
			</label>
			<input type="text" id="presby-SMAIL"
						 [(ngModel)]="host['smail']"
						 placeholder="SMAIL"
			>
			<label for="presby-CITY">
				Home City:
			</label>
			<input type="text" id="presby-CITY"
						 [(ngModel)]="host['city']"
						 placeholder="CITY"
			>
			<label for="presby-ST">
				Home State:
			</label>
			<input type="text" id="presby-ST"
						 [(ngModel)]="host[ 'st']"
						 placeholder="ST"
			>
			<label for="presby-ZIP">
				Home Zip Code:
			</label>
			<input type="text" id="presby-ZIP"
						 [(ngModel)]="host['zip']"
						 placeholder="ZIP"
			>
		</div>
	</div>
</div>
