///////////////////////////////////////////////////////////////////////////// ID
////////////////////////////////////////////////////////////////////////// CLASS
.cdk-drag-disabled
	background:				floralwhite
	color:					darkgoldenrod
.cdk-drag-disabled:hover
	cursor:					not-allowed
.cdk-drag-preview
	background-color:		lightskyblue
.cdk-drop-list-dragging
	background-color:		greenyellow
	padding:				0 0.5em 0.2em 0.5em
.cdk-drop-list-receiving
	background-color:		lightgreen
	padding:				0 0.2em 0.2em 0.2em
.cdk-drag-placeholder
	border:					dotted
	opacity:				.2
.event-heading
	color:					#425
	justify-content:		space-between
	align-items:			center
	padding:				0 1em
	margin:					.75em 0 .5em 0
.full
	color:					red
.gutter
	align-items:			center
	background-color:		gainsboro
	border:					solid
	flex-wrap:				wrap
	justify-content:		space-evenly
.gutter.l
	min-width: 				25%
.gutter.r
	min-width: 				50%
	max-width: 				55%
.mat-expansion-panel-header-description
	flex-grow:				inherit	!important
.mat-form-field + .mat-form-field
	margin-left:			8px
.mat-grid-tile-content
	flex-direction:			column
	align-items:			flex-start
	justify-content:		flex-start
	margin:					1em 0 0 1em
	display:				flex
.median
	min-width:				fit-content
	border:					solid white
.not-full
	color:					green
.plan-list
	padding:				0.1em 0
	height:					unset !important
	width:					14em !important
	max-width:				15em
.polyBase
	height:					11em
	width:					11em
.polyBase.over-full-host
	background-color:		red
	cursor:					no-drop
.polyBase.full-host
	background-color:		darkgreen
	cursor:					no-drop
.polyBase.not-full-host
	background-color:		orange
.poly-2
	display:				flex
	justify-content:		center
	align-items:			center
	clip-path:				circle(30%)
.poly-content-2
	display:				flex
	justify-content:		center
.poly-6
	align-items:			flex-end
	clip-path:				polygon(50% 0%,5% 90%,95% 90%)
.poly-content-6
	display:				flex
	flex-flow:				row wrap
	justify-content:		center
	margin:					0 31%
	padding-top:			31%
.poly-8
	clip-path:				polygon(50% 0%,95% 50%,50% 100%,5% 50%)
.poly-content-8
	display:				flex
	flex-flow:				row wrap
	justify-content:		center
	margin:					0 23%
	padding-top:			28%
.poly-10
	clip-path:				polygon(50% 0%,95% 40%,75% 90%,25% 90%,5% 40%)
.poly-content-10
	display:				flex
	flex-flow:				row wrap
	justify-content:		center
	margin:					0 10%
	padding-top:			30%
.poly-12
	clip-path:				polygon(50% 0%,95% 25%,95% 75%,50% 100%,5% 75%,5% 25%)
.poly-content-12
	display:				flex
	flex-flow:				row wrap
	justify-content:		center
	margin:					0 10%
	padding-top:			24%
/////////////////////////////////////////////////////////////////////////// TAGS
mat-card.mat-card
	margin:					.25rem
mat-card
	align-items:			center
	padding: 				0 .25em
mat-card:active
	cursor:					grabbing
mat-card:hover
	cursor:					grab
mat-grid-tile
	background:				gainsboro
mat-icon.assigned-guest-guest
		color:				lime
		float:				right
mat-icon.assigned-guest-host
		color:				black
		float:				right
mat-icon.menu
		margin-right:		.5rem
mat-icon.unassigned-guest
		color:				white
		float:				right
th
	background-color:		gainsboro
	border-top:				solid
	border-bottom:			solid
	color:					white
	justify-content:		center
