


<div id="page-title" class="bg-d">
	<h2>
		Plan ID:
		<strong>
			{{planId}}
		</strong>
		Version:
		<strong>
			{{versionId+1}}
		</strong>
	</h2>
	<mat-icon style="visibility: hidden">add</mat-icon>
</div>
<div id="page-body">
	<div id="page-title-2">
		<div>
			<h3>
				Schedule
			</h3>
		</div>
		<div *ngIf="deepEqual(ver, ver); else changes_made">
			{{deepEqual(ver, ver)}}
			<a class="gc-disabled">
				Save
			</a>
			<a (click)="toVersions()">
				Back
			</a>
		</div>
		<ng-template #changes_made>
			<div>
				<a (click)="save()">
					Save
				</a>
				<a [routerLink]="['/plan', planId, 'version', 's']">
					Cancel
				</a>
			</div>
		</ng-template>
	</div>
	<hr>
	<div style="margin: .5rem;">
		<h4>
			<label for="editVer-labels">
				Version Labels
			</label>
		</h4>
		<input type="text" id="editVer-labels"
			[(ngModel)]="ver['labels']"
			placeholder="labels"
		>
	</div>
	<div>
		<mat-accordion>
			
			<!-- #########################################  HOST CONFIGURATIONS  ##-->
			
			<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
				<mat-expansion-panel-header class="bg f c">
					<mat-panel-title>
						<mat-icon>person</mat-icon>
						<strong>
							Hosting
						</strong>
					</mat-panel-title>
					<mat-panel-description>
						Schedule hosts for this event
					</mat-panel-description>
				</mat-expansion-panel-header>
				<hr>
				<div class="events" *ngFor="let evt of events">
					<div class="event-heading bg f">
						<div class="f">
							<h4>
								<strong>
									{{evt}}
								</strong>
								Hostings
							</h4>
						</div>
						<div class="f">
							Auto-assign:
							<button (click)="autoAllocate('all')">
								All
							</button>
							<button (click)="autoAllocate(evt)">
								{{evt}}
							</button>
						</div>
					</div>
					<table *ngIf="loaded" cdkDropListGroup>
						<tr class="f">
							<th class="f left-gutter">
								<strong>
									Unallocated
								</strong>
							</th>
							<th class="f median">
								<strong>
									Summary
								</strong>
							</th>
							<th class="f right-gutter">
								<strong>
									Allocated
								</strong>
							</th>
						</tr>
						<tr class="f">
							
							<!-- ##################################  UN-ASSIGNED HOSTS  ###-->
							
							<td cdkDropList
								id="unallocated" class="f gutter unassigned list"
								[cdkDropListData]="unHs[evt]"
								(cdkDropListDropped)="unDropHost( $event, evt )"
							>
								<div *ngFor="let unH of unHs[evt]">
									<mat-card cdkDrag
										[cdkDragData]="unH"
										[cdkDragDisabled]="unH['isDisabled']"
									>
										<mat-icon>menu</mat-icon>
										{{unH['hostKey']}}
									</mat-card>
								</div>
							</td>
							
							<!-- ##############################  EVENT HOSTING SUMMARY  ###-->
							
							<td class="fc" style="
								width: 20%; border-top: solid #425;
							">
								<div class="vertical-info">
									<div style="margin-top: 0" class="info-head bg">
										<span style="font-weight: 900">Guests</span>
									</div>
									<div>
										RSVPs:
										<span style="font-weight: 900">{{
											summary[evt]['rsvps']
										}}</span>
									</div>
									<div class="info-head bg">
										<span style="font-weight: 900">Seats</span>
									</div>
									<div>
										<div style="display: inline-block; text-align: center; margin-bottom: 1em;">
											Total Available:
											<span style="font-weight: 900">{{
												summary[evt]['seats']
											}}</span>
										</div>
										<div style="text-align: left">
											<<<  Unallocated:
											<span style="font-weight: 900">{{
												summary[evt]['unAllocatedSeatCnt']
											}}</span>
										</div>
										<div style="text-align: right">
											Allocated:
											<span style="font-weight: 900">{{
												summary[evt]['allocatedSeatCnt']
											}}</span>
											>>>
										</div>
									</div>
									<div class="info-head bg">
										<span style="font-weight: 900">Allocation Over/Under</span>
									</div>
									<div [class]="
										summary[evt]['overAllocatedSeats'] >= 0 ?
									 		'full': 'not-full'
									">
										<div style="text-align: justify-all;">
											<div style="display: inline-block; text-align: left;">
												RSVPs:
											</div>
											<div style="display: inline-block; text-align: left;"></div>
											<div style="display: inline-block; text-align: right;">
												<span style="font-weight: 900">{{
													summary[evt]['overAllocatedSeats'] > 0 ?
														'+'+summary[evt]['overAllocatedSeats'] :
															summary[evt]['overAllocatedSeats'] < 0 ?
																summary[evt]['overAllocatedSeats'] :
																	'---'
												}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-info">
									<hr style="width: 100%;">
									<div class="info-head bg">
										<span style="font-weight: 900">Status Key</span>
									</div>
									<div class="cdk-drag-disabled" style="margin: .25em;">
										host disabled
									</div>
									<div class="bg" style="margin: .25em;">
										host active
									</div>
									<div class="bg-m" style="
										margin: .25em; border-style: solid; border-color: green
									">
										event fully allocated
									</div>
									<div class="bg-m"  style="
										margin: .25em; border-style: solid; border-color: red
									">
										event under allocated
									</div>
								</div>
							</td>
							
							<!-- #####################################  ASSIGNED HOSTS  ###-->
							
							<td cdkDropList id="allocated" [class] = "
										summary[evt]['overAllocatedSeats'] >= 0 ?
											'f gutter assigned plan-list full' :
												'f gutter assigned plan-list not-full'
							"		*ngIf="loaded || summary[evt] !== undefined"
									[cdkDropListData]="aHs[evt]"
									(cdkDropListDropped)="dropHost($event, evt)"
							>
								<div *ngFor="let aH of aHs[evt]">
									<mat-card cdkDrag id="{{aH['hostKey']}}"
										[cdkDragData]="aH"
									>
										<mat-icon>menu</mat-icon>
										{{aH['hostKey']}}
									</mat-card>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<mat-action-row>
					<button (click)="prevStep()">
						Previous
					</button>
					<button (click)="nextStep()">
						Next
					</button>
				</mat-action-row>
			</mat-expansion-panel>
			
			<!-- #########################################  GUEST CONFIGURATION  ##-->
			
			<mat-expansion-panel
				[expanded]="step === 1"
				(opened)="setStep(1)"
			>
				<mat-expansion-panel-header class="bg f c">
					<mat-panel-title>
						<mat-icon>people</mat-icon>
						<strong>
							Guesting
						</strong>
					</mat-panel-title>
					<mat-panel-description>
						Schedule guests for this event
					</mat-panel-description>
				</mat-expansion-panel-header>
				<hr>
				<div *ngFor="let evt of events" class="events">
					<div class="event-heading bg f">
						<div class="f">
							<h4>
								<strong>
									{{evt}}
									Guestings
								</strong>
							</h4>
						</div>
						<div class="f">
							Auto-assign:
							<button (click)="autoAssign('all')">
								All
							</button>
							<button (click)="autoAssign(evt)">
								{{evt}}
							</button>
						</div>
					</div>
					<table *ngIf="loaded" cdkDropListGroup>
						<tr class="f">
							<th class="f left-gutter">
								<strong>
									Unassigned
								</strong>
							</th>
							<th class="f median">
								<strong>
									Summary
								</strong>
							</th>
							<th class="f right-gutter">
								<strong>
									Assigned
								</strong>
							</th>
						</tr>
						<tr class="f">
							
							<!-- ################################  UN-ASSIGNED GUESTS  ### -->
							
							<td cdkDropList id="unassigned"
									class="f gutter unassigned list"
									[cdkDropListData]="unGs[evt]"
									(cdkDropListDropped)="unDropGuest($event, evt)"
							>
								<div *ngFor="let unG of unGs[evt]">
									<mat-card cdkDrag id="{{unG['guestKey']}}"
										[cdkDragData]="unG"
										[cdkDragDisabled]="unG['isDisabled']"
									>
										<mat-icon>menu</mat-icon>
										{{unG['guestKey']}}
									</mat-card>
								</div>
							</td>
							
							<!-- ################################  EVENT GUEST SUMMARY  ###-->
							
							<td class="fc" style="
								width: 20%; border-top: solid #425;
							">
								<div class="vertical-info">
									<div style="margin-top: 0;" class="info-head bg">
										<span style="font-weight: 900;">Guests</span>
									</div>
									<div style="margin-bottom: 1em;">
										RSVPs:
										<span style="font-weight: 900">{{
											summary[evt]['rsvps']
										}}</span>
									</div>
									<div style="text-align: left">
										<<<  Unassigned:
										<span style="font-weight: 900">{{
												summary[evt]['unAssignedGuestCnt']
										}}</span>
									</div>
									<div style="text-align: right">
										Assigned:
										<span style="font-weight: 900;">{{
												summary[evt]['assignedGuestCnt']
											}}</span>
										>>>
									</div>
									<div class="info-head bg">
										<span style="font-weight: 900">Seats</span>
									</div>
									<div style="padding: 0 .5em; text-align: justify-all;">
										<div style="display: inline-block; text-align: left;">
											Total Available:
											<span style="font-weight: 900">{{
												summary[evt]['seats']
											}}</span>
										</div>
										<div style="display: inline-block; text-align: left;">
											Allocated:
											<span style="font-weight: 900">{{
												summary[evt]['allocatedSeatCnt']
											}}</span>
										</div>
									</div>
									<div class="info-head bg">
										<span style="font-weight: 600">Allocation Over/Under</span>
									</div>
									<div [class]="
										summary[evt]['overAllocatedSeats'] >= 0 ?
											'full': 'not-full'
									">
										<div style="text-align: justify-all;">
											<div style="display: inline-block; text-align: left;">
												RSVPs:
											</div>
											<div style="display: inline-block; text-align: right;">
												<span style="font-weight: 900">{{
						  						summary[evt]['overAllocatedSeats'] > 0 ? '+' +
														summary[evt]['overAllocatedSeats'] :
						 									summary[evt]['overAllocatedSeats'] < 0 ?
																summary[evt]['overAllocatedSeats'] :
							  									'---'
												}}</span>
											</div>
										</div>
										<div [class]="
											summary[evt]['overAssignedGuests'] >= 0 ?
												'full': 'not-full'
										">
											Assigned:
											<span style="font-weight: 900">{{
												summary[evt]['overAssignedGuests'] > 0? '+'  +
													summary[evt]['overAssignedGuests'] :
														summary[evt]['overAssignedGuests'] < 0 ?
															summary[evt]['overAssignedGuests'] :
																'---'
											}}</span>
										</div>
										<div class="fr" style="
											padding: 2em 0; justify-content: space-around;
										">
											<button (click)="isOpen=!isOpen">
												{{isOpen? "Peeps View": "Card View"}}
											</button>
										</div>
									</div>
								</div>
								<div class="vertical-info">
									<hr style="width: 100%;">
									<div class="info-head bg">
										<span style="font-weight: 900">
											Status Key
										</span>
									</div>
									<div style="background-color: orange; margin: .25em;">
										<strong>
											under assigned
										</strong>
									</div>
									<div style="background-color: darkgreen; color: yellow; margin: .25em;">
										<strong>
											fully assigned
										</strong>
									</div>
									<div style="background-color: red; color: aliceblue; margin: .25em;">
										<strong>
											over assigned
										</strong>
									</div>
								</div>
							</td>
							<!-- ####################################  ASSIGNED GUESTS  ###-->
							<td class="f gutter">
								<div cdkDropList style="text-align: center; max-width: 10em; height: 12em; max-height: 12em; padding: .5em;" [id]="aH['hostKey']"
										 *ngFor="let aH of aHs[evt]"
										 [cdkDropListData]="aGs[evt][aH['hostKey']]"
										 (cdkDropListDropped)="dropGuest($event, evt)"
										 [cdkDropListEnterPredicate]="pairsPredicate()"
								>
									{{aH['hostKey']}}
									<!-- ###################  ASSIGNED GUESTS - PEEPS VIEW  ###-->
									<div *ngIf="summary[evt][aH['hostKey']]">
										<div	[class]="
											summary[evt][aH['hostKey']]['assignedSeatCnt'] <
											 aH['seats'] ?
												'polyBase poly-'+aH['seats']+' not-full-host'	:
													summary[evt][aH['hostKey']]['assignedSeatCnt'] >
													 aH['seats'] ?
														'polyBase poly-'+aH['seats']+' over-full-host' :
															'polyBase poly-'+aH['seats']+' full-host'
										" *ngIf = "! isOpen; else boxView">
											<div [class]="'poly-content-'+aH['seats']">
												<div *ngFor="
													let cnt of [].constructor(aH['seats']);
													 let i = index
												">
													<mat-icon id="peep-1"
														class="assigned-guest-host peep"
														*ngIf="
															i <= summary[evt][aH['hostKey']]['hosts'].length-1;
															 else notHost
														"
													>person</mat-icon>
													<ng-template #notHost>
														<mat-icon id="peep-2" *ngIf="i <=
																summary[evt][aH['hostKey']]['assignedSeatCnt']-1;
															 		else notAssigned
															" class="assigned-guest-guest peep"
														>person</mat-icon>
														<ng-template #notAssigned>
															<mat-icon id="peep-o"
																class="unassigned-guest peep"
															>person_outline</mat-icon>
														</ng-template>
													</ng-template>
												</div>
											</div>
										</div>
										<!-- ##################### ASSIGNED GUESTS-CARD VIEW  ###-->
										<ng-template #boxView>
											<div [class]="
												summary[evt][aH['hostKey']]['assignedSeatCnt'] <
												 aH['seats'] ?
													'polyBase plan-list not-full-host' :
														summary[evt][aH['hostKey']]['assignedSeatCnt'] >
														 aH['seats'] ?
															'polyBase plan-list over-full-host' :
																'polyBase plan-list full-host'
											">
												<div *ngFor="let aG of aGs[evt][aH['hostKey']]">
													<mat-card cdkDrag id="{{aG['guestKey']}}"
														[cdkDragData]="aG"
														[cdkDragDisabled]="aG['isDisabled']"
													>
														<mat-icon>menu</mat-icon>
														{{aG['guestKey']}}
													</mat-card>
												</div>
											</div>
										</ng-template>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<mat-action-row>
					<button (click)="prevStep()">
						Previous
					</button>
					<button  (click)="nextStep()">
						End
					</button>
				</mat-action-row>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>

<!-- a style="visibility: hidden;"[routerLink]="['/plan', planId, 'version', versionId + 1]"><a style="visibility: hidden;"><mat-icon>add</mat-icon></a -->
