

<div style="margin-top: 1rem;">
	<h1 class="title" style="margin: 0">  </h1>
	<nav  style="display: flex; justify-content: space-between; align-items: center;">
		<div>
			<a class="pdc-nav-item" routerLink="/plan"	routerLinkActive="active" 			> Plans  </a>
			<a class="pdc-nav-item" routerLink="/guest"	routerLinkActive="active" 			> Guests </a>
			<a class="pdc-nav-item" routerLink="/host"	routerLinkActive="active" 			> Hosts	 </a>
			<a class="pdc-nav-item" routerLink="/login"	routerLinkActive="active" 			> Login	 </a>
			<a class="pdc-nav-item" [routerLink]="[{ outlets: { popup: ['compose'] }}]"	> Help!	 </a>
		</div>
		<div style="margin-right: 1em; font-size: 2em; font-family: serif;"> Grub Club </div>
	</nav>
	<router-outlet name="popup"></router-outlet>
	<div [@routeAnimation]="getAnimationData( routerOutlet )" >
		<router-outlet #routerOutlet="outlet"></router-outlet>
		<router-outlet></router-outlet>
	</div>
</div>


