
<div class="fc">
	<div class="wj fr">
		<div class="nav">
			<a class="tab c" [routerLink]="['/plan']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Plans</a>
			<a class="tab c" [routerLink]="['/guests']"	routerLinkActive="active">Guests</a>
			<a class="tab c" [routerLink]="['/hosts']"	routerLinkActive="active">Hosts</a>
			<a class="tab c" [routerLink]="['/login']"	routerLinkActive="active">Login</a>
			<a class="tab c" [routerLink]="['/admin']"	routerLinkActive="active">
				<span class="f" title="Settings"><mat-icon>settings</mat-icon></span>
			</a>
			<a class="tab c" routerLink="/admin" [routerLink]="[{outlets: {popup: ['compose']}}]">
				<span class="f" title="Settings"><mat-icon>support</mat-icon></span>
			</a>
		</div>
		<div id="app-name"><i>Grub Club</i></div>
	</div>
	<div><router-outlet name="popup"></router-outlet></div>
	<div [@routeAnimation]="getAnimationData( routerOutlet )">
		<router-outlet #routerOutlet="outlet"></router-outlet>
		<div><img alt="Go Wildcats!" src="./assets/powercat.png" style="opacity: 0.05; width: 30vw; position: fixed;	bottom: 0; right: 0; z-index: -1;"></div>
		<router-outlet></router-outlet>
	</div>
</div>

