

<div id="page-title" style="color: white;">
	<h3> Configuration </h3>
	<a style="visibility: hidden; " [routerLink]="['/admin/edit']">
		<mat-icon>edit</mat-icon>
	</a>
</div>
<div id="page-body">
	<nav id="page-title-2">
		<div><h3> View Configuration </h3></div>
		<div *ngIf="true; else changes_made">
			<a style="background-color: floralwhite; color: gainsboro; cursor: not-allowed;"> Save </a>
			<a href="."> Edit </a>
		</div>
		<ng-template #changes_made>
			<div>
				<a style="background-color: #425; color: white; " href="."> Save </a>
				<a href="."> Cancel </a>
			</div>
		</ng-template>
	</nav>
	<hr>
	<div>
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<strong> Summary / Settings </strong>
					</mat-panel-title>
					<mat-panel-description>
						General version information and event settings  <mat-icon> info </mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div style="display: flex; justify-content: space-between; align-items: center">
					<div style="display: flex; background-color: aliceblue">
						Event Settings:
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="eventSetting1" name="vehicle1" value="true" checked>
						<label for="eventSetting1"> Auto-allocate most seats first </label>
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="eventSetting2" name="vehicle2" value="true">
						<label for="eventSetting2"> I want a new car </label>
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="eventSetting3" name="vehicle3" value="true">
						<label for="eventSetting3"> I want a new boat </label>
					</div>
				</div>
				<div style="display: flex; justify-content: space-between; align-items: center">
					<div style="display: flex; background-color: aliceblue">
						Allocation Settings:
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="allocationSetting1" name="vehicle1" value="true" checked>
						<label for="allocationSetting1"> Auto-allocate most seats first </label>
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="allocationSetting2" name="vehicle2" value="true">
						<label for="allocationSetting2"> I want a new car </label>
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="allocationSetting3" name="vehicle3" value="true">
						<label for="allocationSetting3"> I want a new boat </label>
					</div>
				</div>
				<div style="display: flex; justify-content: space-between; align-items: center">
					<div style="display: flex; background-color: aliceblue">
						Assignment Settings:
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="assignmentSetting1" name="vehicle1" value="true" checked>
						<label for="assignmentSetting1"> Allow host over-assignment </label>
					</div>
					<div style="display: flex; background-color: aliceblue">
						Force sort:
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="assignmentSetting2" name="vehicle2" value="true" checked>
						<label for="assignmentSetting2">
							Unassigned Guests
						</label>
					</div>
					<div style="display: flex;">
						<input type="checkbox" id="assignmentSetting3" name="vehicle2" value="true">
						<label for="assignmentSetting3"> Assigned Guests </label>
					</div>
				</div>
					<!-- div *ngIf="deepEqual(loadedVer, ver); else changes_made_2">Loaded version:<strong>{{ver['id']}}</strong></div><ng-template-- #changes_made_2><div><h3><span class="mat-warn"> Unsaved new version: </span><strong> {{ver['id'] + 1}} </strong></h3></div></ng-template -->
				<div>
					Total active hosts: <strong> 20	</strong>
				</div>
				<div>	RSVPs: <strong> 20 </strong></div>
				<div>
					<br>
					Host seats available by event
					<br>
					<hr>
					<div style="display: flex; justify-content: space-evenly;">
						<div> January:	<strong> 110	</strong></div>
						<div> February:	<strong> 80		</strong></div>
						<div> March:		<strong> 135	</strong></div>
					</div>
				</div>
			</mat-expansion-panel>
			<div>
			</div>
		</mat-accordion>
	</div>
</div>
<!-- #######################################################################################  Event SETTINGS  ##-->
<!-- #######################################################################################  Host SETTINGS  ##-->
<!-- ############################################################################################  SETTINGS  ##-->
