

<div id="page-title" class="bg-d">
	<h2 style="margin: 0;">
		Configuration
	</h2>
	<a style="visibility: hidden; " [routerLink]="['/admin/edit']">
		<mat-icon>edit</mat-icon>
	</a>
</div>
<div id="page-body">
	<div id="page-title-2">
		<div>
			<h3>
				Update Configuration
			</h3>
		</div>
		<div *ngIf="!changed; else isChanged">
			<a class="gc-disabled"				> Save		</a>
			<a [routerLink]="['/plan/s']"	> Back		</a>
		</div>
		<ng-template #isChanged>
			<div>
				<a (click)="reload()"			 > Save		</a>
				<a (click)="cancelChange()"> Cancel	</a>
			</div>
		</ng-template>
	</div>
	<hr>
	<div>
		<mat-accordion>
			<mat-expansion-panel expanded="true" >
				<mat-expansion-panel-header class="bg f c">
					<mat-panel-title>
						<strong>
							Setup
						</strong>
					</mat-panel-title>
					<mat-panel-description>
						Functional setup and configuration
					</mat-panel-description>
				</mat-expansion-panel-header>
				<p>
				<div class="fc">
					<div class="fr">
						<label for="roster-url">
							<strong>
								Roster URL:
							</strong>
						</label>
					</div>
					<div>
						<input type="text" id="roster-url"
							style="font-family: 'Courier New',serif;"
							[value]="rosterUrl"
							(input)='rosterUrlChange($event.target["value"])'
						>
					</div>
					<div class="fr" style="justify-content: flex-end;">
						<i style="font-size: x-small;">
							e.g. https://docs.google.com/spreadsheets/d/1V8L8Ub1FRKhXo1pLxwxXiBwIz1TWtatqheHh4RPltJ8
						</i>
					</div>
					<br><br>
					<div class="fc">
						<div class="fr">
							<label for="service-url">
								<strong>
									Roster Service URL:
								</strong>
							</label>
						</div>
						<div>
							<input type="text" id="service-url"
								style		= "font-family: 'Courier New',serif;"
								[value]	= "serviceUrl"
								(input)	= "updateRosterService($event.target['value'])"
							>
						</div>
						<div class="fr" style="justify-content: flex-end;">
							<i style="font-size: x-small;">
								e.g. http://localhost:8080/query
							</i>
						</div>
						<p>
					</div>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header class="bg f c">
					<mat-panel-title>
						<strong>
							Settings
						</strong>
					</mat-panel-title>
					<mat-panel-description>
						General version information and user defaults
					</mat-panel-description>
				</mat-expansion-panel-header>
				<p>
				<div class="fc">
					<h4 class="bg">
						Event Settings:
					</h4>
					<div class="fr">
						<input type="checkbox"
									 checked id="gcSetting1"
									 name="vehicle1" value="true"
						>
						<label for="gcSetting1">
							Auto-allocate most seats first
						</label>
					</div>
					<div class="f">
						<input type="checkbox"
									 id="gcSetting2"
									 name="vehicle2"
									 value="true"
						>
						<label for="gcSetting2">
							I wanna a new car
						</label>
					</div>
					<div class="f">
						<input type="checkbox"
									 id="gcSetting3"
									 name="vehicle3"
									 value="true"
						>
						<label for="gcSetting3">
							I wanna a new boat
						</label>
					</div>
					<h4 class="bg"> Allocation Settings: </h4>
					<div class="f">
						<input type="checkbox" checked
									 id="gcAllocationSetting1"
									 name="vehicle1" value="true"
						>
						<label for="gcAllocationSetting1">
							Auto-allocate most seats first
						</label>
					</div>
					<h4 class="bg">
						Assignment Settings:
					</h4>
					<div>
						<input type="checkbox" checked
									 id="gcAssignmentSetting1"
									 name="vehicle1" value="true"
						>
						<label for="gcAssignmentSetting1">
							Allow host over-assignment
						</label>
					</div>
					<div style="margin-left: 2rem;">
						<h4>
							Force sort:
						</h4>
						<div style="margin-left: 2rem;">
							<div>
								<input type="checkbox" checked
											 id="gcAssignmentSetting2"
											 name="vehicle2" value="true"
								>
								<label for="gcAssignmentSetting2">
									Unassigned Guests
								</label>
							</div>
							<div>
								<input type="checkbox"
											 id="gcAssignmentSetting3"
											 name="vehicle2" value="true"
								>
								<label for="gcAssignmentSetting3">
									Assigned Guests
								</label>
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>

