
.cdk-drag-preview
	border-radius:	50px
	border-color: 	red
	border-style: 	solid
	box-shadow:		0 15px 15px 15px rgba(0, 0, 0, 0.5)
	
.mat-card.cdk-drag-preview
	align-items:		center
	background-color:	pink
	display:			flex
	justify-content:	space-between
	padding:			0 .25em
	height:				1.75em
	mat-icon
		display:		flex
		font-size:		xx-small
		align-items:	center


// 	box-sizing:			border-box
// 	box-shadow:			0 15px 15px 15px rgba(100, 100, 100, 0.5), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)

.cdk-drag-placeholder
	opacity:	0
	
.cdk-drag-placeholder #unassigned
	opacity:	.5

.cdk-drag-animating
	transition:	transform 250ms cubic-bezier( 0, 0, 0.2, 1 )

// .cdk-drop-list-receiving.not-full-host background-color:	lightgreen!important
// .cdk-drop-list-dragging.not-full-host background-color: lightgreen!important
.cdk-drop-list-receiving
	background-color:	lightgreen
.cdk-drop-list-dragging
	background-color:	greenyellow

.cdk-drop-list-dragging:hover
	border-color: red
	border-style: inset
	border-collapse: collapse
	


// 	.list	display: block
// align-items:		flex-start

.list
	display:			flex
	justify-content:	center
	flex-wrap:			wrap
	align-items:		center
	div
		font-size:		9px
		width:			90%
		padding:		0 10px


#unassigned
	div
		font-size:		1em

#allocated
	div
		font-size:		1em

#unallocated
	div
		font-size:		1em

.cdk-drag-disabled
	background:	floralwhite
	color:		gainsboro

mat-card:hover
	cursor:		grab
mat-card:active
	cursor:		grabbing
mat-card:hover.cdk-drag-disabled
	cursor:		not-allowed
mat-card:active.cdk-drag-disabled
	cursor:		none

.mat-card
	margin:		0 .25em

mat-icon.unassigned-guest
	color:	white
	float:	right

mat-icon.assigned-guest-guest
	color:	lime
	float:	right

mat-icon.assigned-guest-host
	color:	black
	float:	right

.polyBase
	height:	10em
	width:	10em
.polyBase.over-full-host
	background-color:	red
	cursor:				no-drop
.polyBase.full-host
	background-color:	darkgreen
	cursor:				no-drop
.polyBase.not-full-host
	background-color:	orange
.poly-2
	display:			flex
	justify-content:	center
	align-items:		center
	clip-path:			circle( 30% )
.poly-content-2
	display:			flex
	justify-content:	center
.poly-6
	align-items:		flex-end
	clip-path:			polygon( 50% 0%,	5% 90%,		95% 90% )
.poly-content-6
	display:			flex
	flex-flow:			row wrap
	justify-content:	center
	margin:				0 31%
	padding-top:		31%
.poly-8
	clip-path:			polygon( 50% 0%,  95% 50%,  50% 100%,  5% 50% )
.poly-content-8
	display:			flex
	flex-flow:			row wrap
	justify-content:	center
	margin:				0 23%
	padding-top:		28%
.poly-10
	clip-path:			polygon( 50% 0%,	95% 40%,	75% 90%,	25% 90%,	5% 40% )
.poly-content-10
	display:			flex
	flex-flow:			row wrap
	justify-content:	center
	margin:				0 10%
	padding-top:		30%
.poly-12
	clip-path:			polygon( 50% 0%,	95% 25%,	95% 75%,	50% 100%,	5% 75%,		5% 25% )
.poly-content-12
	display:			flex
	flex-flow:			row wrap
	justify-content:	center
	margin:				0 10%
	padding-top:		24%

h3
	margin:				0 0 0 1.25em
h4
	margin:				0.75em 0
	
table
	border-collapse:	collapse
	padding:			0

tr
	display:			flex
	justify-content:	space-between

.event-heading
	display:			flex
	justify-content:	space-between
	align-items:		center
	background-color:	aliceblue
	padding:			0 1em
	margin:				.75em 0 .5em 0

.full
	color:	green

.not-full
	color:	red

.vertical-info
	background-color:	white
	border:				none
	flex-direction:		column
	justify-content:	flex-start
	align-items:		inherit
	width:				10em
	padding:			0
	div
		display:			flex
		font-size:			smaller
		justify-content:	center

mat-accordion .mat-expansion-panel-header-title,
mat-accordion .mat-expansion-panel-header-description
	flex-basis:			0
	align-items:		center
	justify-content:	space-between

.mat-form-field + .mat-form-field
	margin-left:		8px

mat-grid-tile
	background:			gainsboro
	
.mat-grid-tile-content
	flex-direction:		column
	align-items:		flex-start
	justify-content:	flex-start
	margin:				1em 0 0 1em
	display:			flex
	
mat-card
	align-items:		center
	background-color:	aliceblue
	display:			flex
	justify-content:	space-between
	padding: 			0 .25em
	height:				1.75em
	mat-icon
		display:			flex
		font-size:			xx-small
		align-items:		center
	
.mat-icon.peep-OLD
	height:				20px
	width:				20px

td
	display:			flex
	flex-wrap:			wrap
	justify-content:	space-evenly
	align-items:		center
	border:				solid
	padding:			.5em
	width: 				45%
	background-color:	gainsboro

