

// Global Styles
*
	font-family:		Roboto, sans-serif

h1
	color:				#264D73
	font-size:			2.5rem
	text-align:			center

h2, h3
	color:				#444
	font-weight:		lighter

h3
	font-size:			1.3rem

body
	padding:			.5rem
	max-width:			1000px
	margin:				auto

@media (min-width: 600px)
	body
		padding:		2rem

body, input[text]
	color:				#333
	font-family:		Roboto, serif

a
	cursor:				pointer

button
	background-color:	aliceblue
	border:				none
	cursor:				pointer
	color:				black
	font-size:			1.2rem
	padding:			.5rem
	margin-right:		.5rem
	margin-bottom:		.5rem
	margin-top:			.5rem

button:hover
	background-color:	#42545C
	color:				white

button:disabled
	background-color:	aliceblue
	color:				gainsboro
	cursor:				auto

// Navigation link styles
hr
	margin:				.5rem 0
	
nav a
	padding:			5px 10px
	text-decoration:	none
	margin-right:		10px
	margin-top:			10px
	display:			inline-block
	background-color:	aliceblue
	color:				#3d3d3d
	
nav a:hover
	background-color:	gainsboro
	color:				black

nav a.active
	background-color:	#42545C
	color:				white

input[type="text"]
	box-sizing:			border-box
	width:				100%
	padding:			.5rem

table
	padding:			.5rem
